body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f8f8f8;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  nav ul {
    
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 200;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
   
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    margin-right: 20px;
    padding: 10px;
    background-color: rgb(255, 184, 223);
    border-radius: 1rem;
    text-decoration: none;
    color: #333;
  }
  a{
    text-decoration:none;
    color: #fff;
  }
  
  .logo {
    font-size: 2em;
    font-weight: bold;
    color: #333;
  }
  .logo img{
    
    width:250px;
    height:150px;
  }
  
  .hero {
    
    width:100vw;
    height:480px;
    background-image: url("background.webp"); 
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
    color: #fff;
  }
  .container{
    display:flex;
    justify-content: space-between;
    align-content: center;
  }

  .container img{
   
    margin-left: 10rem;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 3rem;
  }
 .imge{
    margin-top:-36%;
    margin-left: 60%;
    height:675px;
    align-content: center;
    border-radius:   50% 0 0 50%;
    background-color: rgb(255, 178, 204);
  }
  .hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .cta {
    margin-left: -40%;
    display: flex;
    justify-content: center;
  }
  
  .cta a {
    margin-top: 50px;
    margin-right: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(127, 197, 255);
    border-radius: 1rem;
    
  } 
  a:hover{
    text-transform: uppercase;
    color: plum;
  } 